.schedule-item{
    border-bottom: 1px solid lightgrey;  
    border-width: 100%;
    width: 10rem;
    padding: 2rem;
    align-items: baseline;
    line-height: 1.5rem;
    &__top{
        display: flex;
        justify-content: space-between;      
        width: 15rem;
        align-items: baseline;
        line-height: 0.8rem;
}
&__top-image-conatiner{   
    display: flex;    
    &__image{ 
        
        position: relative;
        right: 0.5rem;       
        width: 20px;
        height: 11px;
    }
}
}