@use "../../assets/sass/variables" as *;

.about {
  &__content {
    padding: 0 2.5rem;
  }
  &__callout {
    color: var(--theme-color-text);
    font-family: $modern-header;
    display: flex;
    justify-content: flex-end;
    padding: 0 2.5rem 0 2.5rem;
  }
}
