@use "../../assets/sass/variables.scss" as *;
@use "../../assets/sass/typography.scss" as *;

.paragraph {
  font-family: $modern-content;
  font-size: 1.125rem;
  line-height: 27px;
  &__callout {
    color: $background-color;
    padding: 0 2.5rem 3rem 2.5rem;
  }
}
