@use "../../assets/sass/variables.scss" as *;

.image-video-container {
  background: linear-gradient(
    180deg,
    var(--theme-color-default) 50%,
    var(--text-color-default) 50%
  );
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.header-image {
  border-radius: 15px;
  max-width: 100%;
}
