@use "../../assets/sass/variables.scss" as *;

.image-video-container {
  background: linear-gradient(180deg, $modern-primary 50%, $color-white 50%);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.header-image {
  border-radius: 15px;
  max-width: 100%;
}
