@use "../../assets/sass/variables.scss" as *;
@use "../../assets/sass/themes" as *;

.header-image-video-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  &--primary {
    background: linear-gradient(180deg, $modern-primary 50%, $color-white 50%);
  }
  &--secondary {
    background: linear-gradient(180deg, $color-secondary 50%, $color-white 50%);
  }
  &--tertiary {
    background: linear-gradient(180deg, $color-tertiary 50%, $color-white 50%);
  }
}

.header-image {
  border-radius: 15px;
  max-width: 100%;
}
