@use "../../assets/sass/typography" as *;
@use "../../assets/sass/variables" as *;
.layout {
  // margin-bottom compensates for the height of the fixed navbar
  padding-bottom: 6rem;
  background-color: $background-color;
  min-height: 100vh;
}
