@use "../../assets/sass/typography" as *;
@use "../../assets/sass/variables" as *;
:root {
  --theme-color-primary: #ffffff;
  --theme-color-text: #000000;
  --theme-color-highlight: #000000;
}

.layout {
  // margin-bottom compensates for the height of the fixed navbar
  margin-bottom: 6rem;
  background-color: $background-color;
  // height: 100vh;
  // overflow: scroll;
  // overflow-x: hidden;
  // overflow-y: hidden;
}
