@use "../../assets/sass/variables" as *;

.page-header {
  // background-color: $modern-primary;
  background-color: var(--theme-color-default);
  padding-top: 5rem;
  &--only {
    padding-bottom: 2rem;
  }
}
