@use "../../assets/sass/variables" as *;

.page-header {
  background-color: var(--theme-color-primary);
  padding-top: 5rem;
  &--only {
    padding-bottom: 2rem;
  }
  &--image{
    border-radius: 15px;
  }
}
