@use "../../assets/sass/variables.scss" as *;
@use "../../assets/sass/typography.scss" as *;

.view-schedule-button {
  height: 4.125rem;
  width: 80%;
  text-transform: uppercase;
  background-color: var(--theme-color-primary);
  border-radius: 0.313rem;
  color: var(--theme-color-text);
  font-weight: 700;
  font-family: $modern-header;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  margin: 2.375rem auto;
}
