@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.title-article {
  line-height: 150%;
  &__header {
    font-family: $modern-header; 
  }
  &__text {
    font-size: 1.125rem;
    font-family: $modern-content;
  }
}
