@use "../../sass/variables" as *;
@use "../../sass/typography" as *;

.title-article {
  line-height: 150%;
  font-family: "PT Sans";
  &__header {
    font-family: $fontOne;
  }
  &__text {
    font-size: 1.125rem;
  }
}
