@use "../../sass/variables" as *;
@use "../../sass/typography" as *;

.title-article {
  font-family: ptSans;
  line-height: 150%;
  &__header {
    // font-family:$fontOne;
  }
  &__text {
    font-size: 1.125rem;
  }
}
