

.navbar{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  bottom: 4;
  &__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    font-size: .7rem;
  }
}