.error-page {
  height: 100vh;
  background-color: rgb(103, 96, 212);
  text-align: center;
  overflow: scroll;
  padding: 2rem;

  &__heading {
    color: white;
  }

  &__subheading {
    color: white;
  }

  &__button {
    height: 66px;
    max-width: 20rem;
    text-transform: uppercase;
    background-color: #f97850;
    border-radius: 5px;
    color: white;
    font-weight: 700;

    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    margin: 38px auto;
  }
}
