@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.photo {
  margin: 0 2.5rem;
  &__image {
    width: 100%;
  }
  &__description {
    display: inline;
    padding-top: 1rem;
    font-family: $modern-content;
    color: $color-grey;
    font-weight: 400;
  }
}
