@use "../../sass/variables" as *;
@use "../../sass/typography" as *;

.event-header-details {
  color: #ffffff;
  background-color: $modern-primary;
  line-height: 24px;
  font-family: $fontOne;
  padding: 23px;
  & > * {
    margin: 0;
  }
  &__divider {
    margin-left: 5px;
    margin-right: 5px;
  }
  &__venue {
    font-weight: bold;
  }
  &__location {
    font-weight: normal;
  }
}
