@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.callout-media {
  background: linear-gradient(
    180deg,
    #ffff 25%,
    $modern-primary 25%,
    $modern-primary 25%,
    $modern-primary 25%
  );
  .image-video-container {
    background: none;
  }
  .orchestra-quote {
    background: $modern-primary;
    padding-top: 2.813rem;
    padding-bottom: 5rem;
  }
}
