@use "../../assets/sass/variables" as *;
@use "../../assets/sass/typography" as *;

.header-home {
  color: var(--text-color-default);
  background-color: var(--theme-color-default);
  font-family: $modern-header;
  letter-spacing: -0.05em;
  padding-bottom: 0.625rem;
  font-weight: 700;
  padding-left: 1.438rem;
  padding-right: 1.438rem;

  &__subtitle {
    font-size: 1rem;
    font-family: $sub-heading-font;
    letter-spacing: 0.03rem;
    color: var(--highlight-color-default);
    padding-top: 0.625rem;
    line-height: 111.2%;
    margin-bottom: 0.825rem;
    text-transform: uppercase;
  }
  &__title {
    color: var(--text-color-default);
    line-height: 111.2%;
    text-transform: capitalize;
    font-size: 2.22rem;
    margin-top: 0.625rem;
    text-align: left;
  }
}