// Global colors
$color-white: #ffff;
$modern-primary: #fa825d;
$default-highlight: #ffffc7;
// Button colors
$btn-color: #3c3c3c;
$modern-primary: #fa825d;
// Button colors
$btn-color: #3c3c3c;
// Description colors
$color-grey: #888888;

// General Fonts
$general-content: "PT Sans", sans-serif;
$sub-heading-font: "Oswald", sans-serif;
// Modern Fonts
$modern-content: "PT Sans", sans-serif;
$modern-header: "Poppins", sans-serif;

// Classic Fonts
$classic-header: "Playfair Display", serif;
$classic-content: "Lato", sans-serif;

:root {
  --theme-color-default: $modern-primary;
  --text-color-default: $color-white;
  --highlight-color-default:$default-highlight;
}
