// Global colors
$color-white: #ffff;
$background-color: #fafafc;

// Button colors
$btn-color: #3c3c3c;
// Description colors
$color-grey: #888888;

// General Fonts
$sub-heading-font: "Oswald", sans-serif;

// Modern Fonts
$modern-content: "PT Sans", sans-serif;
$modern-header: "Poppins", sans-serif;

// Classic Fonts
$classic-header: "Playfair Display", serif;
$classic-content: "Lato", sans-serif;
